# Build output
/target/
*.class

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDEs
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
hs_err_pid*
.java-version
.env
